<!-- META TAGS -->
<% content_for :meta_title, "#{@equipment.name} is on #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, @equipment.activity %>
<%# content_for :meta_image, cl_image_path(@equipment.photo.path) %>

<section class="equipment-container">

  <!-- BANNER -->

  <div class="banner" data-activity="<%= sanitize_activity(@equipment.activity).first %>">

    <div class="equipment-infos">

      <div class="equipment-illustration-container">
        <div class="equipment-illustration"></div>
      </div>

      <div class="equipment-name-container">
        <div class="equipment-name white-text"><h1><%= @equipment.name %></h1></div>
      </div>

      <div class="equipment-address-container white-text">
        <div class="equipment-address white-text"><%= @equipment.address %></div>
      </div>

    </div>

  </div>

  <!-- BLOCKS -->

  <div class="blocks-container">

    <!-- LEFT CONTAINER BLOCKS -->

    <div class="left-container">

      <!-- MAP CONTAINER -->

      <div class="equipment-map-container">
        <div id="equipment-map" data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

    </div>

    <!-- RIGHT CONTAINER BLOCKS -->

    <div class="right-container">

      <!-- EQUIPMENT ACTIVITY -->

      <div class="equipment-activity">
        <div class="top">
          <h3 class="header">
            Les activités proposées
          </h3>
        </div>
        <div>
          <% sanitize_activity(@equipment.activity).each do |activity| %>
            <div class="content">
              <i class="fas fa-map-pin"></i>
              <%= activity.strip %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</section>

<!-- Structured Data -->

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Sport",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "<%= @equipment.address %>"
    },
    "name": "<%= @equipment.name %>",
    "activity": [{
      <% sanitize_activity(@equipment.activity).each do |activity| %>
        "@type": "PhysicalActivity",
        "name": "<%= activity %>"
        },
      <% end %>
    ]
  }
</script>

