<section class="home-container">

  <div class="home-banner relative">
    <div class="map-container">
      <div class="left-container">

        <div class="mileup-logo">
          <%= svg('logo') %>
        </div>

        <% if !user_signed_in? %>
          <div class="text">
            Rejoignez la communauté Mile'Up <br>et accédez facilement aux équipements <br>sportifs de votre ville !
          </div>
          <div class="login-link">
            <%= link_to "Se connecter", new_user_session_path, class: "home-login-button" %>
          </div>
        <% else %>
          <div class="text">
            Bienvenue <%= @user.email %>, <strong>baladez-vous sur notre carte</strong> 🚀
          </div>
        <% end %>

      </div>
      <div class="right-container">
        <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>

    <%= render './pages/partials/home_equipments_slider' %>
  </div>

  <%= render './pages/partials/project-information' %>

</section>

