<section class="home-container">

  <div class="home-banner relative">

    <div class="map-container">

      <!-- FILTER CONTAINER -->

      <div class="filters-container fixed">
        <%= form_tag filter_with_ajax_path, method: :post, id: "filters-form" do %>
          <%= tag.input type: "text", placeholder: "Trouver une activité", label: false, id: "find-activity", name: "activity", class: "form-control search-form-with-ajax" %>
          <%= submit_tag "Rechercher", class: "btn btn-primary submit-with-ajax" %>
        <% end %>
      </div>

      <%= render './pages/partials/equipments_list' %>

    </div>

  </div>

  <!-- MILEUP PRESENTATION -->

  <%= render './pages/partials/mileup_slides' %>

</section>

