
  <!-- EQUIPMENTS LIST -->

  <div class="equipments-list">
    <% if @equipments %>
      <% @equipments.each do |equipment| %>

          <div class="card" data-lat="<%= equipment.lat %>" data-lng="<%= equipment.lng %>">
            <div class="card-illustration" data-activity="<%= sanitize_activity(equipment.activity).first %>"></div>
            <div class="card-content">
              <div class="activity"><%= equipment.activity %></div>
              <div class="name"><%= equipment.name %></div>
              <div class="address"><%= equipment.address %></div>
              <div class="environment"><%= equipment_environment(equipment.environment) %></div>
            </div>
          </div>

      <% end %>
    <% end %>
  </div>

  <!-- MAP -->

  <div class="map">
    <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

