<div class="mileup-slide-container">
  <div class="left-slide-container show-up">
    <div class="header">
      <h1>Sportive toi !</h1>
    </div>
    <div class="content">
      Découvre le sport qui t'entoure. <br>Le moyen le plus simple de se mettre <br>en mouvement 🚀
    </div>
    <div class="start-link">
      <%= link_to "Je commence", new_user_session_path, class: "green-button" %>
    </div>
  </div>
  <div class="right-slide-container align-left slide-in">
    <%= svg('slide-1') %>
  </div>


</div>

<div class="mileup-slide-container flex-row-reverse">
  <div class="left-slide-container show-up">
    <div class="header">
      <h1>A tout moment !</h1>
    </div>
    <div class="content">
      Rejoins une activité seul ou à plusieurs ! <br>Rejoins la communauté, ou invites <br>tes amis 💪
    </div>
    <div class="start-link">
      <%= link_to "Je commence", new_user_session_path, class: "green-button" %>
    </div>
  </div>
  <div class="right-slide-container align-right slide-in">
    <%= svg('slide-2') %>
  </div>
</div>

<div class="mileup-slide-container">
  <div class="left-slide-container show-up">
    <div class="header">
      <h1>Du sport pour chaque humeur</h1>
    </div>
    <div class="content">
      Envie de se défouler ? Manque de <br>motivation ? Nous avons des <br>programmes qui s'adaptent à toi 👌
    </div>
    <div class="start-link">
      <%= link_to "Je commence", new_user_session_path, class: "green-button" %>
    </div>
  </div>
  <div class="right-slide-container align-left slide-in">
    <%= svg('slide-3') %>
  </div>
</div>
