<%= form_with(model: @user_profil, url: [@user, @user_profil], local: true, class: "sport-profil hidden") do |form| %>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div id="sport-profil">
    <%= link_to 'Next', remote: true %>
  </div>

<% end %>
