<%= form_with(model: @user_profil, url: [@user, @user_profil], local: true) do |form| %>

  <!-- FIRST_NAME -->

  <div class="form-about-first-name">
    <h3 class="text-about-first-name white-text">
      Qui êtes-vous
    </h3>

    <div class="field">
      <%= form.label :first_name, "Votre prénom" %>
      <%= form.text_field :first_name %>
    </div>

    <div class="buttons-container">
      <div id="pass-to-gender"></div>
      <div id="next-to-gender" class="hidden"><%= link_to "Valider" %></div>
    </div>

  </div>

  <!-- GENDER -->

  <div class="form-about-gender hidden">
    <h3 class="text-about-gender white-text">
      Vous êtes
    </h3>

    <div class="field">
      <%= form.radio_button :gender, "Un homme" %>
      <%= form.label :gender_un_homme, "Un homme" %>

      <%= form.radio_button :gender, "Une femme" %>
      <%= form.label :gender_une_femme, "Une femme" %>
    </div>

    <div class="buttons-container">
      <div id="pass-to-age"><%= link_to "Passer" %></div>
      <div id="next-to-age"><%= link_to "Valider" %></div>
    </div>

  </div>

  <!-- AGE -->

  <div class="form-about-age hidden">
    <h3 class="text-about-age white-text">
      Quel est votre age
    </h3>

    <div class="field">
      <%= form.text_field :age, id: "numeric-formating" %>
    </div>

    <div class="buttons-container">
      <div id="pass-to-frequencies"><%= link_to "Passer" %></div>
      <div id="next-to-frequencies"><%= link_to "Valider" %></div>
    </div>
  </div>

  <!-- SPORT FREQUENCIES -->

  <div class="form-about-frequencies hidden">
    <h3 class="text-about-frequencies white-text">
      Vous pratiquez une activité physique
    </h3>

    <div class="field">
      <%= form.select :sport_frequencies, options_for_select(@sport_frequencies, "...") %>
    </div>

    <div class="buttons-container">
      <div id="pass-to-interests"><%= link_to "Passer" %></div>
      <div id="next-to-interests"><%= link_to "Valider" %></div>
    </div>
  </div>

  <!-- SPORT INTERESTS -->

  <div class="form-about-interests hidden">
    <h3 class="text-about-interests white-text">
      Pourquoi pratiquez-vous une activité physique ?
    </h3>

    <div class="field">
      <%= form.select :sport_interests, options_for_select(@sport_interests, "...") %>
    </div>

    <div class="buttons-container">
      <div id="pass-to-avatar"><%= link_to "Passer" %></div>
      <div id="next-to-avatar"><%= link_to "Valider" %></div>
    </div>
  </div>

  <!-- AVATAR -->

  <div class="form-about-avatar hidden">
    <h3 class="text-about-frequencies white-text">
      Choisissez une photo
    </h3>

    <div class="field">
      <%= form.file_field :avatar %>
    </div>
    <div class="submit-user-form mt-5">
      <%= form.submit 'Valider le profil', class: "login-button" %>
    </div>
  </div>

<% end %>

